autom4te.cache
.deps
.libs
stamp-h1
config.h
Makefile
Makefile.in
*.o
*.lo
*.la
.autotools
config.status
libtool
Makefile
aclocal.m4
config.log
configure
lcap-*.tar.gz
lcap.spec
rpms/
Makefile.in
src/lcapd/lcapd
src/common/lcap_config.h
src/common/lcap_config.h.in
src/tools/lcap
